.firstbox{
    width: 100%;
    height: 38px;
    border: 1px solid rgb(242, 238, 238);
    display: flex;
}
.firstpick{
    height: 30px;
    margin-top: 5px;
    margin-left: 30px;
}
.secondbox{
    width: 92%;
    height: 100%;
    border: 1px solid  rgb(242, 238, 238);
    margin: auto;
}
.thirdbox{
    width: 100%;
    height: 70px;
    border: 1px solid rgb(242, 238, 238);
    margin: auto;
    display: flex;
}
.longbox{
    height: 45px;
    width: 750px;
    border: 1px solid black;
    margin-left: 25px;
    margin-top: 14px;
}
.serchbox{
    height: 45px;
    width: 152px;
    border: 1px solid blue;
    background-color: rgb(40, 40, 225);
    margin-top:14px ;
    margin-left: 4px;
    
}
a{text-decoration: none;
    color: black;

}
.longbox2{
    height: 40px;
    width: 100%;
    border: 1px solid  rgb(242, 238, 238);
    display: flex;
}
#phi{
    margin-left: 150px;
}
.psign{
    margin-left: 5px;
}
.pdaily{
    margin-left: 30px
}
#psell{
    margin-left: 500px
}
.Watchlist{
    margin-left: 30px;
}
#shopby{
    margin-left: 15px;
}
#hshopby{
    margin-top: 25px; 
    line-height: 0px;
}
#category{
    margin-bottom: 6px; 
    line-height: 0px;
}
#serch{
    margin-bottom: 10px; 
    cursor: pointer; 
     width: 550px; 
     height: 35px ; 
     font-size: medium; 
     border: none
}
#blueserch{
    color: aliceblue; 
    margin-bottom: 80%;
    margin-left: 50px;
}
#advanceed{
    margin-top: 27px; 
    margin-left: 15px;
}
#home{
    margin-left: 170px; 
    margin-bottom: 5px;
}
.saved{
    margin-left: 20px;
    margin-bottom: 5px;
}
#slidbox1{
    height:335px;
    width: 100%;
    /* border: 1px solid red; */
}

/* Shiv for your work, for 1st sliding picture. */
#slidbox1{
    height:335px;
    /* width: 100%; */
    /* border: 1px solid red; */
}

/* Shiv for your work, for 1st sliding picture. */
#slidbox1 img{
    width: 100%;
    /* margin-bottom: 50px; */
}
#dailyseeall{
    height: 70px;
    width: 100%;
    display: flex;
}
#dailydeals{
    margin-left: 50px;
}
#seeall{
    margin-left: 50px;
    margin-top: 25px;
}
#slidbox2{
    height:335px;
    width: 100%;
    border: 1px solid red;
}

 /* Shiv for your work, for 2st sliding picture. */

#haveyou{
    height: 100px;
    width: 100%;
    margin-top: 50px;
    background-color: rgb(83, 6, 6);
}
#hhaveyou{
    margin-left: 50px;
    color: aliceblue;
   
}


#topay{
    margin-left: 50px;
    color: aliceblue;
    line-height: 0px;
   
}

#readmore:hover{
    background-color: white;
    color: black;
}

#readmore{
    margin-left: 720px;
    height: 40px;
    width: 150px;
    margin-top: 30px;
    background-color:rgb(83, 6, 6);
    border: 2px solid white;
    color: aliceblue;
}
#popular{
    width: 100%;
    height: 280px;
    /* border: 1px solid black; */
    display: flex;
}
.child{
    width: 190px;
    height: 100px;
    margin-top: 20px;
}

.childimg{
    width: 175px;
}
.pchild{
    text-align: center;
    line-height: 0px;
}
#citizen{
    width: 100%;
    height:335px;
    /* border: 1px solid black; */
    display: flex;
}

#childcitizen{
    margin-top: 40px;
}
.hcitizen{
    
    margin-left: 50px;
}
#pcitizen{
    margin-left: 50px;
}

#slidbox2{
    
height:335px;
width: 100%;
    /* border: 1px solid red; */
}

 /* Shiv for your work, for 2st sliding picture. */
 #slidbox2 {
    display: grid;
     grid-template-columns: repeat(4,1fr);
     gap: 10px;
     /* width: 100%; */

 }


    


#bucitizen:hover{
    background-color: green;
    color: rgb(2, 68, 2);
}





#bucitizen{
    margin-left: 50px;
    margin-top: 20px;
    width: 150px;
    height: 30px;
    background-color: white;
}
#twowatch{
    width: 900.8px;
    height: 100%;
    margin-left: 120px;
}
#lastbox{
    width: 100%;
    height: 450px;
    border: 2px solid rgb(249, 244, 244);
    display: flex;
}
#lastchild{
    margin-left: 100px;
    margin-top: 50px;
}
#lastchild2{
    margin-left: 100px;
    margin-top: 50px;
}
#lastchild3{
    margin-left: 100px;
    margin-top: 50px;
}
#lastchild4{
    margin-left: 100px;
    margin-top: 50px;
}
#lastchild5{
    margin-left: 100px;
    margin-top: 50px;
}